// directives
@mixin nav(){
    width: cp(1000px,1980px);
    background: $orange;
    height: $value *4;
}
@mixin li(){display: inline-block;
width: $value * 10;}
@mixin assa(){
    width: cp(411px,1980px );
    height: $value * 80;
}
%ablo{
    color: blue;
    width: 400px;
}
// fonction
@function cp ($valeur,$nombre){
    @return ($valeur/ $nombre) * 100%;
}
// condition